noscript {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: white;
  color: black;
}

:root {
  --color-lightest: white;
  --color-light: #ddd;
  --color-medium: #aaa;
  --color-dark: #555;
  --color-darkest: black;
  --color-okay: forestgreen;
  --color-warning: goldenrod;
  --color-error: tomato;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 2.5rem;
  background: var(--color-bg-lightest);
  color: var(--color-darkest);
  fill: var(--color-darkest);
}

body {
  width: 100vw;
  height: 100vh;
}

#app-debug {
  display: none;
}
  
